.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
}
.image-container {
  height: 80%;
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./../../images/logo.png");
}
.image-container:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.nav-container {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* search bar */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  width: 60%;
  height: 45%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--background);
  border-bottom: 1px solid var(--font-white);
  color: white;
}
.input-field:focus {
  background-color: var(--background);
}
.input-field::placeholder {
  font-style: italic;
}
.search-btn {
  padding: 8px;
  margin-left: 0.5rem;
  background-color: var(--background);
  border: 1px solid var(--font-white);
  color: var(--font-white);
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
}
.search-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
/* search results */
.search-results-container {
  width: 360px;
  height: 150px;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 35%;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--background);
  color: var(--font-white);
  border: 1px solid var(--font-gray);
  border-radius: 3px;
}
