.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
}
.image-container {
  height: 80%;
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./../../images/logo.png");
}
.title-container {
  height: 80%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.5rem;
  color: var(--font-gray);
}
.nav-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
