/* Alert box */
.alert-box-add {
  position: fixed;
  height: 50px;
  width: 20%;
  background-color: blue;
  top: 85%;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert-message-add {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
/* movie card */
.movie-card {
  height: 400px;
  width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  color: white;
  border-radius: 3px;
}
.movie-title-container {
  height: 8%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.movie-title {
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.movie-img {
  height: 100%;
  width: 100%;
}
.genres-container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 5%;
}
.genre {
  color: gold;
}
.other-info-container {
  height: 12%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.other-info-container p {
  text-align: center;
}
.other-info-container span {
  color: gold;
  white-space: nowrap;
}
.read-more-container {
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.read-more {
  border: none;
  border-radius: 3px;
  background-color: red;
  color: white;
  height: 100%;
  width: 30%;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.read-more:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.add-to-watchlist {
  border: none;
  border-radius: 3px;
  background-color: blue;
  color: white;
  height: 100%;
  width: 40%;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.add-to-watchlist:hover {
  cursor: pointer;
  filter: brightness(80%);
}
