/* no movies */
.no-movies-container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#no-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
#no-movies h4 {
  color: darkred;
  font-size: 2rem;
  margin: 0;
}
.try-again {
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 2rem;
}
/* search bar */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin-top: 1rem;
}
.search-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  width: 50%;
  height: 65%;
  padding-left: 20px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: var(--background);
  border: 1px solid var(--font-gray);
  color: white;
  border-radius: 5px;
}
.input-field:focus {
  background-color: var(--background);
  border: 1px solid var(--font-white);
}
.input-field::placeholder {
  font-style: italic;
}
.search-btn {
  padding: 8px;
  width: 6rem;
  margin-left: 0.5rem;
  background-color: var(--font-white);
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}
.search-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
/* wrapper */
.movies-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
.movies-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
  gap: 30px 40px;
  border-radius: 3px;
  margin-top: 2rem;
}
