/* Alert box */
.alert-box-add {
  position: fixed;
  height: 50px;
  width: 20%;
  background-color: blue;
  top: 85%;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert-message-add {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
/* movie card */
.movie-card {
  height: 500px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background);
  color: white;
  border-radius: 3px;
}
.movie-title-container {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-title {
  letter-spacing: 1px;
  font-size: 1rem;
  color: var(--font-gray);
}
.movie-img-container {
  height: 70%;
  width: 100%;
}
.movie-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.read-more-container {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.read-more {
  border: none;
  border-radius: 3px;
  background-color: var(--background);
  border: 1px solid gray;
  color: white;
  height: 60%;
  width: 40%;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.read-more:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.add-to-watchlist {
  border: none;
  border-radius: 3px;
  background-color: var(--background);
  border: 1px solid gray;
  color: white;
  height: 60%;
  width: 55%;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.add-to-watchlist:hover {
  cursor: pointer;
  filter: brightness(80%);
}
