/* no movies */
.no-movies-container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#no-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.no-movies-p {
  color: var(--font-white);
  font-size: 2rem;
  margin: 0;
}
.try-again {
  color: var(--font-gray);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 2rem;
}
/* wrapper */
.movies-wrapper {
  width: 80%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
.movies-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
  gap: 30px 40px;
  border-radius: 3px;
}
