.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.link {
  padding: 20px 20px;
  color: red;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}
.link:hover {
  font-size: 1rem;
  filter: brightness(90%);
}
.active {
  padding: 20px 20px;
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}
.active:hover {
  cursor: default;
}
/* logout */
.logout-container {
  height: 35px;
  width: 35px;
}
.logout-btn {
  margin-right: 1rem;
  background-image: url("./../../images/logout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
