/* search bar */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  width: 60%;
  height: 45%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--background);
  border-bottom: 1px solid var(--font-white);
  color: white;
}
.input-field:focus {
  background-color: var(--background);
}
.input-field::placeholder {
  font-style: italic;
}
.btn {
  color: white;
  height: 100%;
  width: 100%;
}
.clear-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}

/* search results */
.search-results-container {
  width: 450px;
  max-height: 150px;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 35%;
  overflow: hidden;
  overflow-y: auto;
  color: var(--font-white);
  border: 1px solid var(--font-gray);
  border-radius: 3px;
  box-shadow: inset 0 0 50px 10px rgba(12, 17, 27, 0.5);
  background-color: rgba(12, 17, 27, 0.9);
}
.single-movie-suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.single-movie-suggestion-container:hover {
  background-color: rgba(2, 47, 137);
  filter: brightness(80%);
  cursor: pointer;
}
.suggestion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20%;
  color: white;
}
#suggestion-info-title {
  width: 30%;
  margin-left: 1rem;
}
