.slider-wrapper {
  height: calc(100vh - 200px);
  width: 100%;
}
.swiper {
  height: 100%;
  width: 100%;
}
.swiperslide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
