.profile-wrapper {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
}
.profile-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
nav {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--font-gray);
}
.greetings {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.greetings span {
  color: darkblue;
}
.profile-container h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 0;
}
/* content */
.profile-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile-page-content h3 {
  color: white;
}
