.single-movie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: var(--background);
}
.single-movie-container {
  width: 65%;
  height: 75%;
  background-color: black;
  color: white;
}
/* header */
.movie-header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a9a9a9;
}
.left-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progressbar-container {
  width: 60px;
  height: 60px;
  padding-right: 2rem;
}
.go-back {
  margin-left: 2rem;
  color: orangered;
  height: 30px;
  width: 30px;
}
.go-back:hover {
  cursor: pointer;
  filter: brightness(80%);
}
#title {
  margin-left: 1rem;
  color: black;
}
/* main content */
.main-info {
  display: flex;
  width: 100%;
  height: 80%;
}
.left-side-container {
  height: 100%;
  width: 40%;
}
.right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 100%;
  margin-left: 2rem;
}
.cover-image {
  height: 100%;
  width: 100%;
}
.data {
  color: gold;
}
#add-to-watchlist {
  position: absolute;
  bottom: 100px;
  right: 290px;
  border: none;
  background-color: blue;
  color: white;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
}
#add-to-watchlist:hover {
  cursor: pointer;
  filter: brightness(80%);
}
