:root {
  --background: #0c111b;
  --font-white: #ffffff;
  --font-gray: #9ca3af;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
