.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin-top: 1rem;
}
.search-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  width: 50%;
  height: 65%;
  padding-left: 20px;
  font-size: 0.9rem;
  border: none;
  outline: none;
}
.input-field:focus {
  border: none;
  outline: none;
}
.input-field::placeholder {
  font-style: italic;
}
.search-btn {
  padding: 8px;
  width: 6rem;
  margin-left: 0.5rem;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.search-btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}
/* movies */
.movies-container {
  margin-top: 2rem;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  gap: 20px;
  border-radius: 3px;
}
.movie-card {
  height: 550px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 0px 20px 0px 20px;
}
.movie-title-container {
  height: 8%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.movie-title {
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.movie-img {
  height: 65%;
  width: 90%;
}
.genres-container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 5%;
}
.genre {
  color: gold;
}
.other-info-container {
  height: 12%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.other-info-container p {
  text-align: center;
}
.other-info-container span {
  color: gold;
  white-space: nowrap;
}
.read-more-container {
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.read-more {
  border: none;
  border-radius: 3px;
  background-color: red;
  color: white;
  height: 100%;
  width: 40%;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.read-more:hover {
  cursor: pointer;
  filter: brightness(80%);
}
